---

---

<div class="bg-[url(https://res.cloudinary.com/dygn4o3nv/image/upload/v1738071515/Rectangle_uyuff3.jpg)] flex justify-center items-center gap-2 h-[250px] s:h-[100px] sm:h-[150px] w-full rounded-lg text-white hover:underline hover:cursor-pointer text-2xl s:text-xl">
    <slot/>
</div>