<div>
    <button class="h-16 px-5 rounded-xl bg-[var(--color-secondary-2)] transition-colors duration-500 text-white">Contact us</button>
</div>

<style>
    button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    }

    button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #e15813;
    color: #fff;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
    }

    button:hover {
    cursor: pointer;
    }

    button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
    }

</style>