<div class="h-20 w-full border-t border-gray-300 py-2.5 flex justify-between items-center px-16 s:px-5 s:text-center sm:px-6">
    <span class="font-normal font-sans s:text-xs">
        &copy;Copyright accoreviews 2025. All rights reserved.
    </span>
        <img 
        src="../../public/accobwn.png" 
        alt="Accoreviews Logo" 
        class="h-11 w-auto s:hidden"
    />
</div>