---
import SocialIcons from "./SocialIcons.astro";
import Navigation from "./Navigation.astro";
---

<div>
    <div class="s:hidden sm:hidden">
        <SocialIcons/>
    </div>
    <div class="flex justify-center my-0- items-center h-40 s:h-10 s:my-10">
        <img 
            src="../../public/accobwn.png" 
            alt="Accoreviews Logo" 
            class="max-w-full h-[80px] object-contain"
        />
    </div>
    <Navigation/>
</div>