---
import SocialIcons from "./SocialIcons.astro";
import Navigation from "./Navigation.astro";
---

<div>
    <div class="s:hidden sm:hidden">
        <SocialIcons/>
    </div>
    <div class="flex justify-center items center h-40 s:h-10">
        <h1 class="s:hidden text-8xl leading-[20.57px] flex justify-center items-center font-thin text-[var(--color-text)] font-sans">Accoreviews</h1>
    </div>
    <Navigation/>
</div>