---
const { content } = Astro.props
---

<button class="rounded-md px-3 py-1.5 bg-transparent border hover:bg-[var(--color-secondary-1)] transition-colors duration-300 text-[var(--color-text)] text-sm group flex items-center gap-1.5">
    <span>Share</span>
    <i class="fa-solid fa-arrow-right group-hover:translate-x-0.5 transition-transform duration-300"></i>
</button>