---
import Icon from "astro-icon";
---


<!-- ICONS -->
<div class="px-10">
    <div class="flex items-center gap-1.5 my-3">
        <span class="h-6 w-6">a</span>
        <span class="h-6 w-6">a</span>
        <span class="h-6 w-6">a</span>
        <span class="h-6 w-6">a</span>
        <span class="h-6 w-6">a</span>
        <span class="h-6 w-6">a</span>
    </div>
</div>
